@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

tr th,
tr td {
  color: whitesmoke !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

td a {
  color: whitesmoke !important;
}

img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.scroll-content {
  display: none;
}

.x-promo-image-wrap {
  position: relative;
  aspect-ratio: 3/4;
  /* padding-top: 135%; */
}

.x-btn,
.button,
[type="submit"] {
  color: hsl(0, 0%, 100%) !important;
  border-color: #0b0b09 !important;
  background-color: #0b0b09 !important;
  text-shadow: 0 0.075em 0.075em rgb(0 0 0 / 50%) !important;
  border-radius: 0.25em !important;
  padding: 0.385em 0.923em 0.538em !important;
  font-size: 13px !important;
}

.x-btn-block {
  display: block;
  width: 100%;
}

.x-btn,
.button,
[type="submit"] {
  display: inline-block;
  position: relative;
  border: 1px solid #ac1100;
  border-radius: 0;
  padding: 0.563em 1.125em 0.813em;
  cursor: pointer;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #ff2a13;
  transition: all 0.15s linear;
}

.x-btn,
.x-btn:hover,
.button,
.button:hover,
[type="submit"],
[type="submit"]:hover {
  text-shadow: none;
}

.cs-ta-center {
  text-align: center !important;
}

.h-custom-headline.accent span:before {
  right: 100%;
  margin-right: 0.5em;
}

.h-custom-headline.accent span:before,
.h-custom-headline.accent span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 9999px;
  display: block;
  margin-top: -1px;
  background-color: #e5e5e5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.h-custom-headline.accent span:after {
  left: 100%;
  margin-left: 0.5em;
}

.h-custom-headline.accent span:before,
.h-custom-headline.accent span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  /* width: 9999px; */
  /* width: 161%; */
  display: block;
  margin-top: -1px;
  background-color: #e5e5e5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.h-custom-headline.accent span {
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
}

.h-custom-headline.accent {
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

.x-promo-image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.line::before {
  width: 100%;
}

.line::after {
  width: 100%;
}

.team-player {
  height: 50px;
}

.team-player a {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.team-player a:hover {
  color: #fece2e !important;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.team {
  margin: 25px;
}

.comment[placeholder]:empty:before,
.name[placeholder]:empty:before,
.email[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
  font-size: 19px;
}

.comment-button button:hover {
  background-color: #fece2e !important;
  color: whitesmoke !important;
}

.disp_mobile {
  display: none;
}

@media (max-width: 991px) {
  .disp_mobile {
    display: block;
  }

  .disp_desktop {
    display: none;
  }

  .comment[placeholder]:empty:before {
    content: attr(placeholder);
    font-size: 14px;
  }

  .video1,
  .video2 {
    width: 100%;
  }

  .scroll-content {
    display: none;
  }
}

@media (max-width: 767px) {
  .x-column.x-sm {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .image {
    width: 100% !important;
  }

  .x-img-thumbnail.gear {
    padding-top: 48% !important;
    padding-bottom: 49% !important;
  }
}

.image-desc {
  background-color: #0b0b09;
  width: 100%;
  padding: 10px;
}

.section1-image img {
  height: 100%;
  width: 100%;
}

.image-desc {
  color: whitesmoke;
}

.image-desc span {
  font-size: 18px;
}

.image-desc p {
  color: whitesmoke !important;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  line-height: 2;
}

.image-desc img {
  height: 30px;
  width: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-left: 20px;
}

.social-icon {
  margin: 5px;
}

.section1-content {
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 88%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 97%);
}

.card-content {
  margin: 0 0 0.35em;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1;
}

.section-title {
  margin: 0 0 0.75em !important;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
  padding: 0 0 0.75em !important;
  font-size: 1.2em !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

.x-img-thumbnail.gear {
  position: relative !important;
  aspect-ratio: 1/1 !important;
  padding-top: 44% !important;
  padding-bottom: 45% !important;
}

.lazy-loaded {
  width: -webkit-fill-available !important;
}

.x-img-thumbnail {
  padding: 4px !important;
  /* line-height: 1.8; */
  border: 2px solid #e5e5e5 !important;
  background-color: #fff !important;
  -webkit-transition: border 0.3s ease, box-shadow 0.3s ease !important;
  transition: border 0.3s ease, box-shadow 0.3s ease !important;
}

a.x-img-thumbnail:hover,
li.bypostauthor > article.comment {
  /* border-color: rgb(232, 59, 12); */
  border-color: #fece2e;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #fece2e;
  border-color: #fece2e;
}

.btn-outline-primary {
  color: #0b0b09;
  border-color: #fece2e;
}

.x-code {
  color: white;
}

#simpletext {
  margin-left: -87px;
  margin-top: -5px;
}
@media (max-width: 1399px) {
  #simpletext {
    margin-left: -72px !important;
    margin-top: -5px;
  }
}
@media (max-width: 1199px) {
  #simpletext {
    margin-left: -61px !important;
    margin-top: -6px !important;
  }
}
@media (min-width: 992px){
  .image {
    width: 19.7%;
  }
  .video1,
  .video2 {
  width: 37% !important;
}
}
@media (max-width: 991px) {
  #simpletext {
    margin-left: -98px !important;
    margin-top: -5px !important;
  }
}
@media (max-width: 767px) {
  #simpletext {
    margin-left: -111px !important;
    margin-top: -1px !important;
  }
}
@media (max-width: 576px) {
  #simpletext {
    margin-top: -5px !important;
    width: 20px;
  }
  #icon {
    width: 136px;
    margin-top: -5px !important;
  }
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 span {
  font-family: "Poppins", sans-serif !important;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0rem;
  margin-left: -4px !important;
}
.bradcrumb {
  color: #fece2e !important;
}
#section {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#section-faq {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 20px;
}
#faq {
  margin-top: 4px;
  color: whitesmoke;
}
#benq {
  color: #fece2e !important;
}
#logitech {
  color: #fece2e !important;
}
#apex {
  color: #fece2e !important;
}
.btn {
  font-size: medium !important;
}
