@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0px !important;
}

a {
    text-decoration: none !important;
    color: #0B0B09 !important;
}


nav {
    background-color: #0B0B09;
    height: 60px;
    color: whitesmoke !important;
}

.navbar-brand {
    height: auto;
}
.navbar-brand img {
    height: 60px;
    width: 300px;
}

.fa-bars {
    color: whitesmoke;
}

/* .navbar li {
    margin-left: 11px;
} */

.nav-link {
    color: whitesmoke !important;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color:  #FECE2E !important;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.nav-link a .nav-down {
     font-size: 10px;
}

.header-search {
    /* display: flex;
    flex-direction: row;
    margin-left: 100px; */
    margin-top: 1%;
}

.header-search form {
    position: relative;
}

.header-search form i{
    position: absolute;
    top: 20%;
    left: 5%;
}

.header-search form input {
    border-radius: 20px;
    border: none;
    height: 30px;
    /* padding-left: 30px; */
    color: #0B0B09;
}

.prolist, .guide, .players {
    width: 200px; 
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    position: absolute;
    z-index: 99999;
}

.list li {
    padding: 0px;
}

.prolist ul li, .players ul li{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
}

.players ul li, .players ul li{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.guide ul li, .guide ul li{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
}

.prolist ul li:hover, .players ul li:hover, .guide ul li:hover{
   background-color: rgb(245, 245, 245);
   cursor: pointer;
   -webkit-transition: color 300ms linear;
   -ms-transition: color 300ms linear;
   transition: color 300ms linear;
}

.prolist ul li a:hover, .players ul li a:hover, .guide ul li a:hover{
    color: #FECE2E !important;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
 }

.nav-prolist:hover .prolist {
    display: block;
}

.nav-players:hover .players {
    display: block;
}

.nav-guide:hover .guide {
    display: block;
}


/* FOOTER  */

footer {
    background-color: #0B0B09;
    height: auto;
    padding: 50px 0px;
}

footer h5 {
    color: whitesmoke !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
    text-transform: uppercase;
}

footer a, footer span, footer p {
    color: whitesmoke !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height:2;
}

footer a:hover {
    color: #FECE2E !important;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

footer #twitter:hover {
    color: #1DA1F2 !important;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}



@media only screen and (max-width: 991px) {
    nav {
        height: auto;
    }
    nav #navbarSupportedContent {
        background-color: #0B0B09;
        height: 100vh;
    }

    .navbar-brand img {
        height: 45px;
        width: 300px;
    }
    .mob_disp {
        display: none;
    }
    .mob_section {
        margin-top: 10px !important;
    }
    .card-img-top {
        width: 190px !important;
        margin-left: 26%;
    }
  }

  /* Players page styles  */
p, a, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Poppins', sans-serif;
}
.intro-head {
    color: #0B0B09;
    line-height: 1;
    font-weight: 400;
}

a:hover {
    color: #FECE2E !important;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    top: -10px;
}
.card-header {
    color: whitesmoke;
}
.card-footer {
    background-color: transparent !important;
    font-size: 13px;
}
.second-row {
    margin: 15px 0px;
}

/* 
 #FECE2E
 #0B0B09
 */
