<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h5>prosetting.net</h5>
                <br />
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Gear Reviews</a></li>
                    <li><a href="#">Device Library</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h5>pro lists</h5>
                <br />
                <ul>
                    <li><a href="#">CS:GO</a></li>
                    <li><a href="#">Fortnite</a></li>
                    <li><a href="#">Overwatch</a></li>
                    <li><a href="#">PUBG</a></li>
                    <li><a href="#">Rainbow Six</a></li>
                    <li><a href="#">Apex Legends</a></li>
                    <li><a href="#">Valorant</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h5>players</h5>
                <br />
                <ul>
                    <li><a href="#">CS:GO players</a></li>
                    <li><a href="#">Fortnite players</a></li>
                    <li><a href="#">Overwatch players</a></li>
                    <li><a href="#">PUBG players</a></li>
                    <li><a href="#">Apex Legends players</a></li>
                    <li><a href="#">Valorant players</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h5>top guides</h5>
                <br />
                <ul>
                    <li><a href="#">Best Gaming Mouse</a></li>
                    <li><a href="#">Best Gaming Monitor</a></li>
                    <li><a href="#">Best Gaming Keyboard</a></li>
                    <li><a href="#">Best Gaming Headset</a></li>
                    <li><a href="#">Best Gaming Mousepad</a></li>
                    <li><a href="#">Best Gaming PC for eosports</a></li>
                    <li><a href="#">Best Gaming Chair</a></li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul>
                    <li><a href="#" id="twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li>
                        <p class="text-uppercase">prosetting.net</p>
                    </li>
                    <li>
                        <p>As an Amazon Associate we earn from qualifying purchases. We also use targeted ads.</p>
                    </li>
                    <li><a href="#">
                            <p>Read Our Privacy Policy & Affiliate Disclosure</p>
                        </a></li>
                    <li><a href="#">
                            <p>Legal Notice</p>
                        </a></li>
                    <li>
                        <p>All Right Reserved - &copy; 2016-2021</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>